<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488096575546-r3ddn2fcl6ds917l257ocj2pb84o16j6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488096575546-r3ddn2fcl6ds917l257ocj2pb84o16j6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>488096575546-vo3ck0h3ak683i9ndtl8t0km4ot8e727.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQnKTZjXj9suXLtk0iyAMgOkd9li3XBwM</string>
	<key>GCM_SENDER_ID</key>
	<string>488096575546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.platableapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>platableapp</string>
	<key>STORAGE_BUCKET</key>
	<string>platableapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488096575546:ios:7f88ef0fc8821b3b29c503</string>
</dict>
</plist>